
<ion-header>
  <ion-toolbar class="ion-text-center">
      <ion-card no-margin>

        <img src="https://image.shutterstock.com/image-vector/quiz-thin-line-concept-vector-260nw-663203059.jpg" />
           
            <ion-card-subtitle>
             <h2>Top Quiz Categories</h2>
              </ion-card-subtitle>   
      
      </ion-card>
  </ion-toolbar>

</ion-header>
          <ion-content>
     <ion-grid>
    <ion-row *ngFor="let category of CategoryList">
      <ion-col  size-md="6" >
        <ion-card class="cateCard ion-text-center" >
          <div>
          <ion-avatar class="avatar">
  <img src={{category.ImgUrl}}>
</ion-avatar>
        </div>
        <h3>{{category.Name}} </h3>
        </ion-card>
        
      </ion-col>
   
      
    </ion-row>
  </ion-grid>
          </ion-content>